
body {
  margin: 0;
  padding: 0;
}

.left {
  width: 50%;
  left: 0;
  height: 100%;
}

.right {
  left: 50%;
  width: 50%;
  height: 100%;
}

.side {
  top: 0;
  position: fixed;
  transition: 2s;
  background-color: rgba(25, 25, 25, 0.6);
  z-index: -1;
}

.left.slide {
  transform: translateX(-100%);
}

.right.slide {
  transform: translateX(100%);
}

.back {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url(http://www.menucool.com/slider/jsImgSlider/images/image-slider-2.jpg);
  background-size: cover;
  z-index: -2;
}

.carousel {
  transition: 2s;
}

@items: 20;

.swoop-up-loop (@i) when (@i >= 0) {
  .swoop-up-@{i} {
    transform: translateY(-1000px  + @i*200);
  }
  .swoop-up-loop(@i - 1);
}

.swoop-up-loop(@items);


.swoop-down-loop (@i) when (@i >= 0) {
  .swoop-down-@{i} {
    transform: translateY(1000px - @i*200);
  }
  .swoop-down-loop(@i - 1);
}

.swoop-down-loop(@items);

@iterations: 20;

.translate-loop (@i) when (@i >= 0) {
  .translate-left-@{i} {
    transform: translateX(-227px*@i);

  }
  .translate-loop(@i - 1);
}

.translate-loop(@iterations);


.scrollable{
  overflow-y:hidden !important;
}